.guessScreen {
    height: calc((var(--screen-height) * 1px) - 1px);
    width: calc((var(--screen-width) * 1px) - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradientBG);
}
