:root {
    --dropShadowUnit: 0.2rem;
    --dropShadow: 0px 0px var(--dropShadowUnit) rgb(5, 5, 5);
    --dropShadowBig: 0px 0px calc(var(--dropShadowUnit) * 2) rgb(5, 5, 5);
    --dropShadowLight: 0px 0px var(--dropShadowUnit) rgba(255, 255, 255, 0.501);

    --dropShadowText: 0px 0px calc(var(--dropShadowUnit) / 2) rgb(5, 5, 5);
    --dropShadowLightText: 0px 0px calc(var(--dropShadowUnit) / 2) rgba(255, 255, 255, 0.501);
}

.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradientBG);
}
