* {
    color: var(--colorWhite);
}

body {
    margin: 0;
    font-family: 'Dolce Vita', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--colorBG);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --colorMain: #18452c;
    --colorMainDark: hsl(147, 48%, 2%);
    --colorSecondary: #27965b;

    --gradientMainSecondary: linear-gradient(180deg, var(--colorMain) 0%, var(--colorSecondary) 100%);
    /* --gradientBG: linear-gradient(180deg, var(--colorBlack) 0%, var(--colorMainDark) 100%); */
    --gradientBG: radial-gradient(
        circle at bottom,
        var(--colorMainDark) 0%,
        var(--colorBG) 65%,
        var(--colorBlack) 100%
    );

    --colorBG: #0a0a0a;
    --colorBGLight: #161616;
    --colorBlack: #000000;
    --colorGray: hsl(149, 30%, 70%);
    --colorWhite: #cdf4e0;
    --colorDanger: #792525;
    --colorDangerLight: hsl(0, 53%, 45%);
}
